[Unit]
Description=haproxy

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill haproxy-%i
ExecStartPre=-/usr/bin/docker rm haproxy-%i
ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name haproxy-%i -p $COREOS_PRIVATE_IPV4:80:80 --dns 172.17.42.1 --dns-search=service.consul cargonauts/consul-haproxy -consul consul:8500 -template \"/haproxy.ctmpl:/etc/haproxy/haproxy.cfg:service haproxy reload\""
ExecStop=/usr/bin/docker stop haproxy-%i

[X-Fleet]
Conflicts=haproxy@%i.service
