[Unit]
Description=Consul Server Agent
After=docker.service
After=etcd.service

[Service]
Restart=always
RestartSec=60
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStartPre=/usr/bin/docker pull progrium/consul
ExecStart=/bin/sh -c "eval $(. /etc/environment; /usr/bin/docker run --rm progrium/consul cmd:run $COREOS_PRIVATE_IPV4 -e SERVICE_IGNORE=true -v /var/run/docker.sock:/var/run/docker.sock)"
ExecStop=/usr/bin/docker stop consul

[X-Fleet]
Global=true
MachineMetadata=consul_role=server
