[Unit]
Description=Consul Client Agent
After=docker.service
After=etcd.service

[Service]
Restart=on-failure
RestartSec=60
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill consul
ExecStartPre=-/usr/bin/docker rm consul
ExecStartPre=/usr/bin/docker pull progrium/consul
ExecStart=/bin/sh -c "/usr/bin/docker run --name consul -h $HOSTNAME -p $COREOS_PRIVATE_IPV4:8300:8300  -p $COREOS_PRIVATE_IPV4:8301:8301  -p $COREOS_PRIVATE_IPV4:8301:8301/udp  -p $COREOS_PRIVATE_IPV4:8302:8302  -p $COREOS_PRIVATE_IPV4:8302:8302/udp  -p $COREOS_PRIVATE_IPV4:8400:8400  -p $COREOS_PRIVATE_IPV4:8500:8500  -p 172.17.42.1:53:53/udp  -e SERVICE_IGNORE=true -v /var/run/docker.sock:/var/run/docker.sock progrium/consul  -advertise $COREOS_PRIVATE_IPV4 -retry-join $(etcdctl get $(etcdctl ls /consul/bootstrap/machines | tail -1))"
ExecStop=/usr/bin/docker stop consul

[X-Fleet]
Global=true
MachineMetadata=consul_role=client
