[Unit]
Description=Registrator
PartOf=consul-server.service
After=consul-server.service
[Service]
Restart=always
RestartSec=60
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull progrium/registrator
ExecStart=/bin/sh -c ". /etc/environment; /usr/bin/docker run --name registrator -h registrator -v /var/run/docker.sock:/tmp/docker.sock  progrium/registrator consul://$COREOS_PRIVATE_IPV4:8500"
ExecStop=/usr/bin/docker stop registrator

[X-Fleet]
Global=true
MachineMetadata=consul_role=server
