[Unit]
Description=Datadog Agent
Requires=docker.socket
After=docker.socket

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=2m

ExecStartPre=/usr/bin/etcdctl get /ddapikey
ExecStartPre=-/usr/bin/docker stop dd-agent
ExecStartPre=-/usr/bin/docker rm -f dd-agent
ExecStartPre=/bin/sh -c \
    "docker history datadog/docker-dd-agent:latest >/dev/null || \
    docker pull datadog/docker-dd-agent:latest"

ExecStart=/bin/sh -c "/usr/bin/docker run --privileged \
    --name dd-agent \
    -h %H \
    -v /var/run/docker.sock:/var/run/docker.sock -v /proc/mounts:/host/proc/mounts:ro -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
    -e API_KEY=$(etcdctl get /ddapikey) \
    datadog/docker-dd-agent"
ExecStop=-/usr/bin/docker stop dd-agent
SyslogIdentifier=dd-agent

[X-Fleet]
Global=true
