[Unit]
Description=Datadog Agent
Requires=docker.socket
After=docker.socket

[Service]
Restart=always
RestartSec=15s
TimeoutStartSec=2m

EnvironmentFile=/etc/datadog.env

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/sh -c \
    "docker history datadog/docker-dd-agent:latest >/dev/null || \
    docker pull datadog/docker-dd-agent:latest"

ExecStart=/bin/sh -c "exec /usr/bin/docker run \
  --privileged \
  --name %p \
  -h %H \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /proc/mounts:/host/proc/mounts:ro \
  -v /sys/fs/cgroup/:/host/sys/fs/cgroup:ro \
  --env API_KEY=$API_KEY \
  datadog/docker-dd-agent"

ExecStop=-/usr/bin/docker stop %p
SyslogIdentifier=%p

[X-Fleet]
Global=true
