[Unit]
Description=influxdb
Requires=mnt-data.mount
After=mnt-data.mount
RequiresMountsFor=/mnt/data

[Service]
Restart=always
RestartSec=15
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/mkdir -p /mnt/data/%p
ExecStartPre=/bin/sh -c \
  "docker history kubernetes/heapster_influxdb:v0.3 >/dev/null || \
  docker pull kubernetes/heapster_influxdb:v0.3"

ExecStart=/usr/bin/docker run \
  -p 8083:8083 \
  -p 8086:8086 \
  -v /mtn/data/%p:/data \
  --hostname=influxdb \
  --name %p \
  kubernetes/heapster_influxdb:v0.3

ExecStop=/usr/bin/docker stop %p

SyslogIdentifier=%p
KillMode=none
