[Unit]
Description=grafana

Requires=heapster-influxdb.service
After=heapster-influxdb.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
KillMode=none

ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/bin/sh -c \
  "/usr/bin/docker history kubernetes/heapster_grafana:v0.7 >/dev/null || \
  /usr/bin/docker pull kubernetes/heapster_grafana:v0.7"

ExecStart=/usr/bin/docker run \
  --name %p \
  --link heapster-influxdb:influxdb \
  -P \
  -e SERVICE_NAME=heapster \
  -e SERVICE_TAGS=http \
  -e INFLUXDB_HOST=influxdb \
  kubernetes/heapster_grafana:v0.7

ExecStop=/usr/bin/docker stop %p

SyslogIdentifier=%p

[X-Fleet]
X-ConditionMachineOf=heapster-influxdb.service
