[Unit]
Description=hello world python with redis backend

[Service]
Restart=always
RestartSec=15
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/bin/sh -c \
	"docker history cargonauts/helloworld-python:latest >/dev/null || \
	docker pull cargonauts/helloworld-python:latest"

ExecStart=/bin/sh -c "exec /usr/bin/docker run --rm \
  --name app-hellodb-%i \
  --env SERVICE_NAME=hellodb \
  --env SERVICE_TAGS=http \
  -P \
  --dns $(ifconfig docker0 | grep 'inet ' | awk '{print $2}') \
  --dns-search=service.consul \
  cargonauts/helloworld-python \
  /srv/helloworld-db.py"

ExecStop=/usr/bin/docker stop %p-%i

SyslogIdentifier=%p-%i
