[Unit]
Description=nginx-router

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx-router-%i
ExecStartPre=-/usr/bin/docker rm nginx-router-%i
ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name nginx-router-%i -p $COREOS_PRIVATE_IPV4:80:80 --dns 172.17.42.1 --dns-search=service.consul mvanholsteijn/consul-nginx -consul consul:8500 -template \"/nginx.ctmpl:/etc/nginx/nginx.conf:if service nginx status >/dev/null; then service nginx reload ; else service nginx start ; fi\""
ExecStop=/usr/bin/docker stop nginx-router-%i

[X-Fleet]
Conflicts=nginx-router@%i.service
