[Unit]
Description=%p

[Service]
Restart=always
RestartSec=15
TimeoutStartSec=2m

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name %p-%i \
	--env RELEASE=v1 \
	--env SERVICE_NAME=%p \
	--env SERVICE_TAGS=http \
	-P \
	--dns $(ifconfig docker0 | grep 'inet ' | awk '{print $2}') \
	--dns-search=service.consul \
	mvanholsteijn/paas-monitor"

ExecStop=/usr/bin/docker stop %p-%i

SuccessExitStatus=2
SyslogIdentifier=%p-%i

