[Unit]
Description=paas-monitor

[Service]
Restart=always
RestartSec=15

ExecStartPre=-/usr/bin/docker kill paas-monitor-%i
ExecStartPre=-/usr/bin/docker rm paas-monitor-%i

ExecStartPre=/bin/sh -c \
	"docker history datadog/docker-dd-agent:latest >/dev/null || \
	docker pull datadog/docker-dd-agent:latest"

ExecStart=/bin/sh -c "/usr/bin/docker run --rm --name paas-monitor-%i \
	--env RELEASE=v1 \
	--env SERVICE_NAME=paas-monitor \
	--env SERVICE_TAGS=http \
	-P \
	--dns $(ifconfig docker0 | grep 'inet ' | awk '{print $2}') \
	--dns-search=service.consul \
	mvanholsteijn/paas-monitor"

ExecStop=/usr/bin/docker stop paas-monitor-%i

SuccessExitStatus=2
SyslogIdentifier=paas-monitor-%i
