[Unit]
Description=Consul Server Agent
After=docker.service
After=etcd.service
After=fleet.service

[Service]
Restart=always
TimeoutStartSec=180

EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p

ExecStartPre=/bin/sh -c \
    "docker history cargonauts/progrium-consul >/dev/null || \
    docker pull cargonauts/progrium-consul"

ExecStart=/bin/sh -c "exec /usr/bin/docker run \
  --name %p \
  -h %H \
  -p $COREOS_PRIVATE_IPV4:8300:8300 \
  -p $COREOS_PRIVATE_IPV4:8301:8301 \
  -p $COREOS_PRIVATE_IPV4:8301:8301/udp \
  -p $COREOS_PRIVATE_IPV4:8302:8302 \
  -p $COREOS_PRIVATE_IPV4:8302:8302/udp \
  -p $COREOS_PRIVATE_IPV4:8400:8400 \
  -p $COREOS_PRIVATE_IPV4:8500:8500 \
  -p $(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):53:53 \
  -p $(ifconfig docker0 | grep 'inet ' | awk '{print $2}'):53:53/udp \
  -e SERVICE_8500_NAME=consul-ui \
  -e SERVICE_8500_TAGS=http \
  -v /var/run/docker.sock:/var/run/docker.sock \
  cargonauts/progrium-consul \
  -server \
  -advertise $COREOS_PRIVATE_IPV4 \
  $(awk '/^nameserver/{print \" -recursor \" $2}' /etc/resolv.conf) \
  $(fleetctl list-machines | awk '/consul_role=server/{print \"-join \" $2}') \
  -bootstrap-expect 3"

ExecStop=/usr/bin/docker stop %p
SyslogIdentifier=%p
SuccessExitStatus=1

[X-Fleet]
Global=true
X-ConditionMachineMetadata=consul_role=server
