[Unit]
Description=Registrator
After=consul-server.service

[Service]
Restart=always
TimeoutStartSec=3m
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/bin/sh -c "/usr/bin/docker history gliderlabs/registrator:v6 || \
   /usr/bin/docker pull gliderlabs/registrator:v6"

ExecStart=/bin/sh -c "exec /usr/bin/docker run \
  -v /var/run/docker.sock:/tmp/docker.sock \
   gliderlabs/registrator:v6 \
   -ip $COREOS_PRIVATE_IPV4 \
   -resync 60 \
   consul://$COREOS_PRIVATE_IPV4:8500"
ExecStop=/usr/bin/docker stop %p
SyslogIdentifier=%p
SuccessExitStatus=2

[X-Fleet]
Global=true
MachineMetadata=consul_role=server
